*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #000;
}
/* Nav bar  */
nav {
    background-color: #000;
    height: 8rem;
}
nav .brand-logo {
    color: #000;
}
nav ul a {
    color: #dfbd69; 
}
img {
    width: 100%;
    height: 7rem;
}
nav .nav-wrapper {
    position: relative;
    height: 100%;
}
.slider .indicators .indicator-item {
    background-color: white;
}
.slider .indicators .indicator-item.active {
    background-color: #dfbd69;
}

/* h1 animations */
h1 {
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #dfbd69, white, #dfbd69);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 10s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
/* images cards css */
.container{
    display: flex;
    padding: 1%;
    justify-content: center;
    flex-wrap: wrap;

}

.card{
    background-color: #000;
    width: 280px;
    height: 500px;
    margin: 10px;
    color: #dfbd69;
    border: 4px solid #dfbd69;
}

.card-image{
    background-color: black;
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
}
.btn, .btn-large, .btn-small {
 
    color: #000;
    background-color: #dfbd69;
  
}
.btn:hover{
    color: #dfbd69;
    background-color: #000;
}
.car-1{
    background-image: url("https://i.postimg.cc/VLmDZL2k/project1.jpg");
}

.car-2{
    background-image: url("https://i.postimg.cc/cLYCB2t0/pro2.png");
}

.car-3{
    background-image: url("https://i.postimg.cc/7LZ6r6QY/responisvems3.png");
}

.car-4{
    background-image: url("https://i.postimg.cc/MTLg7nMF/responsive.jpg")
}


.btn{
    margin: 10%;
    margin-left: 35%;
    border-radius: 10px;
}

.card:hover{
    background-color: #dfbd69;
    color: #000 !important;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

h2{
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}


.about{
    display: flex;
    margin-left: 28%;
}

.about img{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 0;
    border-radius: 90px 90px;
}

.about h4{
    font-size: 50px;
    padding: 2%;
    margin: 2%;
    margin-top: 8%;
    color: #dfbd69;
}

#p{
    padding: 1%;
    margin: 3%;
    font-size: 15px;
    margin-left: 18%;
    color: #dfbd69;   
}
.fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;`
    font-size: 20px;
    color: #dfbd69;
}
/* contact me  */

form .contact{
    border: 2px solid #dfbd69;
    width: fit-content;
    margin-left: 22%;
    margin-bottom: 25px;
    padding: 5px;
}
textarea {
    width: 100%;
    height: 200px;
    background-color: transparent;
}

#btt{
    font-size: 30px;
    margin: 5px;
}

#btt button{
    background-color: #dfbd69;
    color: #000;
    border-radius: 10px;
    width: 20%;
    border: 2px solid #000;
}

h5{
    color: #dfbd69;
}

label {
    font-size: .8rem;
    color: #dfbd69;
}

input{
    background-color: white !important;
}
textarea{
    background-color: white;
}

.page-footer {
    padding-top: 20px;
    color: #dfbd69;
    background-color: #000;
}

#logo-footer{
    width: 8%;
    height: 6rem;
}